<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9-9o6gvyUxKhIQs5-Jq44waSbJMsXVOs</string>
	<key>GCM_SENDER_ID</key>
	<string>279349679713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarunkiranastore.app</string>
	<key>PROJECT_ID</key>
	<string>tarun-kirana-store-db37f</string>
	<key>STORAGE_BUCKET</key>
	<string>tarun-kirana-store-db37f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279349679713:ios:8a1f350a0fafbb49623c20</string>
	<key>CLIENT_ID</key>
	<string>1079591731539-33k2hf1nc8357p3vpoopb53b9kcc0e9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079591731539-33k2hf1nc8357p3vpoopb53b9kcc0e9f</string>
</dict>
</plist>